// Home Page Styles! ---------------------------------------
.hero-home {
  border:0px;
  overflow: hidden;
  padding-bottom: 0;
  background-image: url('hero-home.jpg');

  h1 {
    padding: 0 1em;
    margin-top: 0;
    text-shadow: 0px 0px 2px black;
    font-size: 3em;
    margin-bottom: 30px;
  }
  h2{
    color: #FFFFFF;
    text-shadow: 0px 0px 2px black;
    margin-bottom: 2em;
  }

  .row.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: $screen-md-min){
      flex-flow: column;
      padding-bottom: 1em;
    }
  }

  .how_it_works {
    @media (max-width: 992px) {
      padding: 2em 0 2em 0;
    }
  }

  #how_it_works_btn {
    display: none;
    @media (max-width: 992px) {
      padding: 1em;
      display: inline;
    }
  }

  #home_videos {
    @media (max-width: 992px) {
      display: block;
      height: 0px;
      h3 {
        padding: 0 1em 0 1em;
      }
    }
    @media (min-width: 993px) {
      display: inline;
      h3 {
        margin: 0 -2em 0 -2em;
      }
    }
  }

  .intro_video {
    width: 346px;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .learn-more {
    padding: 3em 0 2em 0;
    @media (min-width: 993px) {
      padding: 0 2em 0 2em;
    }
  }

  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  a.btn {
    position: relative;
  }

  .center-play {
    position: absolute;
    margin-left: -34px;
    margin-top: -40px;
    left: 50%;
    top: 50%;
  }

  .play-btn {
    position: absolute;
    width: 5em;
  }

  #banner-video-container{
    position: relative;
    z-index: 0;
    #banner-video-overlay{
      position: absolute;
      width: 100%;
      height: 548px;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    #banner-video{
      position: absolute;
      width: 100%;
      height: auto;

      @media (max-width: $screen-xs-max){
        width: auto;
      }
    }
  }

  .home-banner {
    text-align: center;
    color: #fff;
    max-width:100%;
    padding: 50px 0px;
    background: rgba(0,0,0,0.15);
    z-index: 9;

    .sign-up-button{
      margin-bottom: 3em;
    }
    .main-banner{
      position: relative;
    }

    #home_carousel{
      margin-top: 25px;
      margin-bottom: 2em;

      .slick-slide{
        margin-right: 10px;
        img.item{
          border-radius: 5px;
          width: 100%;
        }
      }
    }

  }
}

.circle-campaign, .circle-sp, .circle-raised {
  border: 20px solid #08c1dc;
  height: 250px;
  width: 250px;
  border-radius:200px;
  position: relative;
  display: inline-block;
  margin: auto 20px;
}

.circle-campaign {
  border-color: #ffa755;
}
.circle-sp {
  border-color: #08c1dc;
}
.circle-raised {
  border-color: #462445;
}
.totals-centerd {
  width: 65%;
  height: 65%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  h4 {
    color: #ffa755;
    font-size: 35px;
    padding: 30px 0 0;
    margin-bottom: 0;
  }
}

.supporters{
  background-color:white;
  h3 {
    color: #999999;
  }
  .section-wrapper {
    margin: 5px 0px 25px;
    padding:0px;
  }
}



.home-border {
  border-right: 1px dotted $gray-light;
}
.home-box {
  border: 1px solid $gray-lighter;
  background: #fff;
  margin-bottom: 25px;
  img {
    display: block;
    width: 100%;
    height: auto;
  } 
}
.home-box-info {
  margin: 0;
}
.main-info {
  padding: 15px;
  height: 142px;
}
.main-info-sponsor {
  padding: 15px;
}
.time {
  border-top: 1px solid $gray-lighter;
  padding: 15px;
  text-align: center;
}
.view-all {
  margin: 25px 0;
}
.view-all-border {
  padding-top: 10px;
  border-bottom: 1px dotted $gray-light;
  width: 100%;
  position: relative;
}
.easy-band {
  background: #ff6c54;
  text-align: center;
  h2 {
    color: #fff;
    margin-bottom: 25px;
  }
  h3 {
    color: black;
    margin: 25px 0;
  }
}
.center {
  text-align: center;
}

#filters{
  ul{
    font-size: 13px;
    padding-left: 0;
    padding: 0px;
    margin-bottom: 0px;
    li{
      list-style: none;
      padding: 4px;
      .link{
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
    }
  }
}

ul.cats {
  list-style: none;
  li {
  border-bottom: 1px dotted $gray-light;
  padding: 5px 0;
  }
  a {
    color: $gray;
    text-decoration: none;
  }
}
.campaign_grid, .sponsor_grid, .coupon_grid, .fundraiser_grid {
  padding-left: 5px;
  padding-right: 5px;
  .thumbnail {
    background-color: #fff;
    padding:0px;
  }
  .img-thumbnail{
    padding: 0px;
    margin: 0px;
    border:0px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.home-quotes {
  background-image: image-url("success-bkg.jpg");

  .quote:before {
    color: #fff;
    content: open-quote;
    font-family: "minion-pro", Georgia, serif;
    font-size: 1em;
  }

  .quote:after {
    color: #fff;
    content: close-quote;
    font-family: "minion-pro", Georgia, serif;
    font-size: 1em;
  }

  .quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .quote {
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
  }

  .author {
    text-align: left;
    font-style: italic;
  }

  @media (min-width: 750px){
    .rwd-break { display: none; }
  }

  h4 {
    color: #fff;
  }
}