h2 We could not pay a transfer!

p We have #{ number_to_currency(@available_funds) } available, and #{ number_to_currency(@pending_funds) } pending. The attempted transfer amount is #{ number_to_currency(@attempted_transfer) }.

p We have to solve this!