@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

$brand-warning: #f0ad4e !default;
$screen-sm-max: 992px;
$screen-xs-max: 768px;

#book_page_navbar{
  margin-bottom: 0px;
  .addthis_custom_sharing{
    padding-top: 5px;
  }
  .navbar-brand{
    padding-top: 12px;
    img{
      width: 150px;
    }
  }
}

.hero {
  height:350px !important;
  margin-bottom: 0;
  border:0px;
  background-size: 100% auto;
  @include background-size(cover);
  background-position: 50% 0px;
  position: relative;
  .alert-dismissable {
    font-size: 2.2em;
    background: rgba(8, 193, 220, 0.75);
  }
  .green-bkg{
    background: rgba(182, 203, 64, 0.75);
  }
  .close{
    opacity: 0.7;
  }
  .edit-button{
    height: 0;
  }
}

.hero-screen {
  background-image:image-url('hero-screen.png');
  background-repeat: repeat-x;
  height:350px;
}

.book-nav{
  position: absolute;
  width: 100%;
  box-shadow: none;
  margin: 0;
  &.affix-top{
    bottom: 0;
    padding: 0;
    .popular{
      padding: 0;
    }
  }
  &.affix{
    margin-top: -10px;
    .top-message{
      color: #555;
      text-shadow: none;
      font-size: 18px;
    }
    .buy_button_section{
      margin-top: -16px;
      .save{
        margin-top: 7px;
        color: #555;
        text-shadow: none;
      }
      .btn-xl.buy_button{
        font-size: 30px !important;
        padding: 2px 0px !important;
      }
    }
  }
  .popular{
    text-align: left;
    & > li{
      margin: 0px 5px 10px 5px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .top-message{
    color: white;
    font-size: 22px;
    text-shadow: 0px 0px 5px black;
  }
}

.buy_button_section{
  text-align: right;
  .btn-xl.buy_button{
    margin-bottom: 2px;
    padding: 3px 0px !important;
  }
  .save{
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 16px;
  }
}

.donate-save,
.benefit{
  margin: 10px 0px;
  color: #555;
  a{
    color: #555;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 21px;
  }
}
.benefit{
  font-size: 32px;
}
.donate-save{
  font-size: 20px;
}

#remote-items{
  .category-title{
    margin-bottom: 20px;
  }
}

