.parallax-window data-parallax="scroll" data-position="top center" data-image-src=(@coupon_book.picture.banner_path)
  .top_banner.campaign-banner.commercial-banner = t('banners.coupon_book.header.desktop', fr: @coupon_book.fr_name).html_safe
  = campaign_edit_button(@coupon_book)
  .hero-screen
  