h2 Dear #{@affiliate},

p We have transferred your commission ($#{@amount}) for your collaboration with this #{link_to 'Community', @campaign.community_page_url } to your Stripe Account!

p Thank you for trusting Eats for Good!