h2 Dear #{@affiliate.name},

p Today #{@date}, we have transferred your outstanding commission (#{ number_to_currency(@amount) }) for your collaboration with this #{link_to 'Community', @campaign.community_page_url } to your Stripe Account!

p You can check all your transfers #{ link_to 'here', dashboard_transfers_url }.

p Thank you for trusting Eats for Good!