//Navbar --------------------------------------------------------------------------------
.nav {
  margin-top: 15px;
}
.navbar {
  margin-bottom: 0;
  background-color: #FFFFFF;
  z-index: 1;
  .form-control{
    height: 34px;
    text-transform: capitalize;
  }
  &.navbar-default{
    min-height: 42px;
    .navbar-nav{
      margin: 0;
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus{
        background-color: #eee;
      }
    }
  }
}

.navbar-form{
  margin-left: 10px;
  border-left: 1px solid #000000;
  padding-left: 30px;
}

.navbar-brand {
  padding-top: 10px;
  padding-left: 0;
  img{
    width: 160px;
  }
}
.user-logged-in {
  span {
    margin-left: 5px;
  }
  .glyphicon {
    top: 2px;
  }
}

.navbar-collapse{
  max-height: 1000px;
}

.nav-cta{
  margin-top: 15px;
  margin-bottom: 0;
  background-color: #FFFFFF;
  margin: 0px 0px 0px -1px !important;
  padding-left: 0;
  list-style: none;
  li {
    position: relative;
    display: block;
    a{
      color: #777777;
      position: relative;
      display: block;
      line-height: 20px;
      padding: 10px 15px;
    }
    a:hover{
      text-decoration: none !important;
    }
  }
}

.navbar-text{
  padding: 0px 2px;
  margin-top: 15px;
}

.btn-signup {
  margin: 4px 0px 0px 10px !important;
  padding: 10px 20px !important;
  color: #fff !important;
}

.secondary-navbar {
  background-color: #fff;
  padding-top: 10px;
  @include box-shadow(0, 0, 3px, $gray-light);
}

.book-nav.affix {
  background: rgba(255,255,255,0.9);
  -webkit-transition: all .6s ease-in-out;
  box-shadow: 0px 3px 5px #ccc;
  padding-top: 20px;
  position: fixed;
  z-index:100;
  top: 0;
  width: 100%;
  .title{
    display: none;
  }
  .nav-title{
    display: block;
  }
  .popular{
    padding-top: 0px;
    & > li {
      margin: 5px;
      & > a{
        font-size: 14px;
      }
    }
  }
}

.book-nav{
  margin-top: -10px;
  margin-bottom: 50px;
  margin-left: 0; 
  margin-right: 0; 
  box-shadow: 0px 3px 5px #ddd;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 20px;
  }
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0px;
  }
  .title{
    margin-bottom: -5px;
    margin-top: 15px;
    font-size: 19px;
    color: #999;
    display: block;
  }
  .nav-title{
    font-size: 20px;
    color: #999;
    margin: 0;
    display: none;
  }
  .buy_button{
    color: white;
    box-shadow: 0px 1px 3px #555;
    font-size: 32px !important;
    margin-bottom: 12px;
  }
  .popular > li.active > a, 
  .popular > li.active > a:hover, 
  .popular > li.active > a:focus {
    background: darken($brand-warning, 15%);
  }
  .popular > li.active:after {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: darken($brand-warning, 15%);
    border-width: 6px;
    margin-left: -6px;
  }
  .popular{
    padding-bottom: 10px;
    padding-top: 10px;
    & > li{
      @media (max-width: $screen-sm-max) {
        margin: 5px;
      }
      & > a{
        color: white;
        background: $brand-warning;
        font-size: 23px;
        text-transform: uppercase;
        border-radius: 10px;
        @media (max-width: $screen-sm-max) {
          font-size: 18px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 16px;
        }
      }
    }
    li > a:hover {
      background: darken($brand-warning, 15%);
    }
  }
}

.popular > li.active > a, 
.popular > li.active > a:hover, 
.popular > li.active > a:focus {
  background: darken($brand-warning, 15%);
}
.popular > li.active:after {
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: darken($brand-warning, 15%);
  border-width: 6px;
  margin-left: -6px;
}
.popular{
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0;
  & > li{
    @media (max-width: $screen-sm-max) {
      margin: 5px;
    }
    & > a{
      color: white;
      background: $brand-warning;
      font-size: 23px;
      text-transform: uppercase;
      border-radius: 10px;
      padding: 6px 18px;
      @media (max-width: $screen-sm-max) {
        font-size: 18px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }
  }
  li > a:hover {
    background: darken($brand-warning, 15%);
  }
}

.campaign-nav {
  margin-top: 20px;
  .nav{
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  ul.nav.nav-pills {
    background-color: #ffffff;
    padding: 15px 20px;
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    li{
      padding:0 5px;
      a{
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
.dropdown {
  height: 40px !important;
}

.dropdown-menu{
  padding: 10px;
  @media (max-width: $screen-md-min) {
    float:left !important;
    width: 100% !important;
  }
}
.dropdown-menu > li > a {
  padding: 8px 45px 8px 20px;
}