- if @coupon.persisted?
  = link_to 'Delete', @coupons, data: {confirm: 'Are you sure?'}, method: :delete, class:'btn btn-danger pull-right simple-margin'
  = link_to 'Preview', @coupons, class:'btn btn-primary pull-right simple-margin'