h2 Dear #{@fundraiser},

/h3 Thank you for supporting #{@book.fr_name}!

p Your #{link_to 'Campaign', coupon_book_url(@coupon_book)} has reached its end date. That means that it's not longer open to receive donations for consumers.
/p We also sent your deal vouchers attached as a PDF file in a second email. 

p Thank you for trusting Eats for Good!