@import 'shared/variables';

#book_page_navbar{
  margin-bottom: 0;
}

.top_banner_mobile{
  font-size: 22px;
  text-align: center;
  padding: 8px 0px;
}

#campaign-performance{
  .total-donations{
    h1{
      margin-top: 0;
    }
    h2{
      margin-top: 0;
      font-size: 18px;
      padding-top: 16px;
    }
    overflow: auto;
  }
  .thermometer{
    margin-bottom: 10px;
  }
  .see-how{
    margin-bottom: 8px;
  }
}

#affiliates{
  li.affiliate-campaign{
    clear: both;
    margin-top: 10px;
    overflow: auto;
    .affiliate-name{
      margin-top: 4px;    
      a{
        font-size: 16px;
      }
    }
    .raised{
      font-size: 16px;
      margin-top: 4px;
      margin-right: 8px;
    }
  }
}