@import 'shared/variables';

.parallax-window{
  margin-bottom: 30px;
}

.community-page-banner{
  position: absolute;
  width: 100%;
  box-shadow: none;
  margin: 0;
  bottom: 0;
  padding: 0;
  background: rgba(8,193,220,0.75);
  color: white;
  text-align: center;
}

.goal{
  overflow: auto;
  h1{
    margin-top: 0;
  }
}
.total-donations{
  h1{
    margin-top: 0;
  }
  h2{
    margin-top: 0;
    font-size: 21px;
    padding-top: 14px;
  }
  overflow: auto;
  margin-bottom: 10px;
}

.thermometer{
  clear: both;
  margin-bottom: 20px;
}

#icons{
  font-size: 21px;
  overflow: auto;
  margin-bottom: 15px;
  padding-bottom: 20px;
  padding-top: 2px;
  border-bottom: 1px solid #eee;
  .head-col{
    a{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
      text-decoration: none;
      color: #555;
      .glyphicon{
        margin-right: 8px;
        top: 3px;
      }
      .number{
        margin-right: 5px;
        padding: 3px 12px;
        border-radius: 50%;
      }
      .word{
        color: #333;
      }
    }
    .text{
      color: #777;
      margin-top: 5px;
    }
  }
  .give{
    .number{
      color: $brand-success;
      border: 2px solid $brand-success;
      &:hover{
        color: darken($brand-success, 15%);
        border: 2px solid darken($brand-success, 15%);
      }
    }
  }
  .get{
    .number{
      color: $brand-warning;
      border: 2px solid $brand-warning;
      &:hover{
        color: darken($brand-warning, 15%);
        border: 2px solid darken($brand-warning, 15%);
      }
    }
  }
  .help{
    .number{
      color: $brand-primary;
      border: 2px solid $brand-primary;
      &:hover{
        color: darken($brand-primary, 15%);
        border: 2px solid darken($brand-primary, 15%);
      }
    }
  }
}

#affiliates{
  table{
    margin-top: 10px;
    background: white;
    &.table-bordered > thead > tr > th{
      border: 1px solid #ddd;
      border-bottom-width: 2px !important;
      font-size: 14px;
    }
    tbody{
      max-height: 450px;
      td{
        font-size: 20px;
        .affiliate-website{
          margin-left: 10px;
        }
      }
    }
  }
}

.sidebar{
  .see-how{
    margin-top: 10px;
  }
}

.white{
  padding-top: 0;
  margin-top: 30px;
}

.book-nav{
  position: relative;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 3px 5px #ddd;
  .popular{
    padding: 10px 0px !important;
    text-align: center;
  }
  &.affix{
    .popular{
      padding-top: 0 !important;
    }
    .buy_button_section{
      margin-top: 0;
      .btn-xl.buy_button{
        font-size: 32px !important;
        padding: 5px 0px !important;
      }
    }
  }
}
