= display_meta("Contact Us")

h1.dash-head Contact Us

h4 Please use this form to leave us your details
p An Eats for Good representative will contact you shortly.

hr 

= render partial:'contact_mailer/form'

br