// Place all the styles related to the CouponCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.connectedSortable {
  margin-top: 20px;
  list-style-type: none;
}

ul.connectedSortable2 {
  list-style-type: none;
}

li {
  padding: 5px;
}


