@import 'variables';

.collection-coupons,
.collection-category {
  list-style: none;
  margin: 0;
  padding: 0;

  &.empty {
    min-height: 120px;
  }
}

.coupon-list,
.category-list {
  border: 1px solid $gray-medium-light;
  padding: 8px;
  overflow: hidden;
  margin-bottom: 10px;

  &--item,
  &--title {
    display: block;
    font-size: 12px;
  }

  &:hover {
    cursor: move;
  }
}

.category-list {
  padding: 0;
  border: 0;
  position: relative;

  &--title {
    background: $brand-primary;
    color: white;
    font-size: $font-size-h3;
    display: block;
    padding: 8px;
  }
}

.coupon-list--container {
  float: left;
  max-width: 70%;
}

.couponActions {
  float: right;
  max-width: 30%;
  padding: 8px;
  border-left: 1px solid $gray-medium-light;

  &--item {
    display: inline;
  }

  &.couponActions-category {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px 0 0;
    border: 0;

    &--item {
      border: 0;
    }
  }

  @extend .collection-coupons;
}