@import 'variables';

.collection-coupons,
.collection-pr-boxes,
.categories,
.category-items {
  list-style: none;
  margin: 0;
  padding: 0;

  .empty-list {
    min-height: 70px;
  }

}

ul#collection-coupons,
ul#collection-pr-boxes,
ul#categories{
  max-height: 600px;
  overflow-y: scroll;
}

.category {
  padding: 0;
  border: 0;
  position: relative;

  &--title {
    background: $brand-primary;
    color: white;
    font-size: $font-size-h3;
    display: block;
    padding: 8px;
  }

  .category-items{
    min-height: 70px;
    padding-top: 10px;
  }
}

.coupon-item,
.prbox-item,
.category-item{
  border: 1px solid $gray-medium-light;
  padding: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  background: white;
  
  &--item,
  &--title {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }

  &--container {
    float: left;
    max-width: 70%;
  }

  &:hover {
    cursor: move;
  }

  &.disabled{
    opacity: 0.3;
    cursor: default;
  }

  &.sortable-ghost {
    background: $gray-lighter;
    opacity: 0.7;
  }
}

.prboxActions,
.couponActions {
  float: right;
  padding: 8px;
  border-left: 1px solid $gray-medium-light;

  &--item {
    display: inline;
  }

  &.couponActions-category {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px 0 0;
    border: 0;

    &--item {
      border: 0;
      float: left;
      padding: 8px 6px 0 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  @extend .collection-coupons;
}